@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: sora;
  src: url(/src/assets/Sora-VariableFont_wght.ttf);
}

@font-face {
  font-family: "work";
  src: url(/src/assets/WorkSans-VariableFont_wght.ttf);
}

@font-face {
  font-family: inter;
  src: url(/src/assets/Inter-VariableFont_slnt\,wght.ttf);
}

#work {
  font-family: work;
}

#inter {
  font-family: inter;
}

html body {
  font-family: sora;
  line-height: 1.5;
  font-weight: 400;
  scroll-behavior: smooth;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  max-width: 1440px;
  margin: 0 auto;
  background: #f4f6f8;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.button {
  border-radius: 8px;
  background: var(--primary-main, #120b48);
}
